<!DOCTYPE html>

<head>
	<title>Rock Garden</title>
	<meta charset="UTF-8">
	<meta name="description" content="Instyle Fashion HTML Template">
	<meta name="keywords" content="instyle, fashion, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">




	<!-- Favicon -->


	<!-- Google font -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">


	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/css/bootstrap.min_1.css"/>
	<link rel="stylesheet" href="../static/css/font-awesome.min_1.css"/>
	<link rel="stylesheet" href="../static/css/owl.carousel.min_1.css"/>
	<link rel="stylesheet" href="../static/css/slicknav.min_1.css"/>
  <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">


    <link rel="stylesheet" href="../static/css/aos.css">




    <link rel="stylesheet" href="../static/css/style.css">
	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="../static/css/style_1.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5dcce5b5d96992700fc75ad0/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>


	<header class="site-navbar py-1" role="banner">

	      <div class="container nav-bar-custom">
	        <div class="row align-items-center">

	          <div class="col-6 col-xl-2">
	          <a href="index.html">  <img class="header" src="../static/images/brand.jpg" alt=""></a>
	            <h1 class="mb-0 heading"><a href="index.html" class="text-black h2 mb-0"></a></h1>
	          </div>
	          <div class="col-10 col-md-8 d-none d-xl-block">
	            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

	              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
	                <li>
	                  <a href="index.html">Home</a>
	                </li>
	                <li class="has-children active">
	                  <a href="destination.html">Destinations</a>
	                  <ul class="dropdown">
	                    <li class="active"><a href="rock_garden.html">Rock Garden</a></li>
	                    <li><a href="rose_garden.html">Rose Garden</a></li>
	                    <li><a href="sukhna_lake.html">Sukhna Lake</a></li>
	                    <li><a href="pec.html">Punjab Engineering College</a></li>
	                      <li><a href="elante_mall.html">Elante Mall</a></li>
	                        <li><a href="iskcon_temple.html">Iskcon Temple</a></li>
	                  </ul>
	                </li>

	                <li><a href="bus_guide.html">Bus Guide</a></li>
	                <li><a href="about.html">About</a></li>
	                <li><a href="blog.html">Blog</a></li>

	                <li><a href="contact.html">Contact</a></li>
									<li><a href="e-ticket.html">E-Ticket</a></li>
	                <!-- <li><a href="booking.html">Book Online</a></li> -->
	              </ul>
	            </nav>
	          </div>

	          <div class="col-6 col-xl-2 text-right">
	            <div class="d-none d-xl-inline-block">
	              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
	                <li>
	                  <a href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwix5oWRgcvlAhWDXSsKHVcOAVAQFjAAegQIAhAB&url=https%3A%2F%2Fwww.tripadvisor.in%2FTourism-g297596-Chandigarh-Vacations.html&usg=AOvVaw0y4lvVCWrkxLzev5XhlFUL" class="pl-0 pr-3 text-black"><span class="icon-tripadvisor"></span></a>
	                </li>
	                <li>
	                  <a href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjagp2TgMvlAhVEfH0KHa8YAUYQFjAAegQIBRAB&url=https%3A%2F%2Ftwitter.com%2Fchdtourism%3Flang%3Den&usg=AOvVaw2NEcDvOjtfUZH-IBukouTK" class="pl-3 pr-3 text-black"><span class="icon-twitter"></span></a>
	                </li>
	                <li>
	                  <a href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwiCu7ylgcvlAhWFe30KHQrDAvMQFjAAegQIAhAB&url=https%3A%2F%2Fwww.facebook.com%2Ftourismchandigarh%2F&usg=AOvVaw0OcooZBqNq0ZcUFRPnO_Ls" class="pl-3 pr-3 text-black"><span class="icon-facebook"></span></a>
	                </li>
	                <li>
	                  <a href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjI0qm2gcvlAhWUT30KHS75BY0QFjAAegQIAxAB&url=https%3A%2F%2Fwww.instagram.com%2Fchandigarhtourism%2F&usg=AOvVaw0Zn2Umh9rZTHhWtCplZGxt" class="pl-3 pr-3 text-black"><span class="icon-instagram"></span></a>
	                </li>

	              </ul>
	            </div>

	            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

	          </div>

	        </div>
	      </div>

	    </header>


	<!-- header section -->
	<!-- <header class="header-section">
		<div class="header-warp">
			<a href="index.html" class="site-logo">
				<img src="img/logo.png" alt="">
			</a>
			<ul class="main-menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="gallery.html">Gallery</a></li>
				<li><a href="artists.html">artists</a></li>
				<li><a href="elements.html">Shop</a></li>
				<li><a href="blog.html">News</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</header> -->
	<!-- header section end -->

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="hs-bg set-bg sm-overlay" data-setbg="../static/images/rock-garden-1.jpg"></div>
				<div class="sp-container">
					<div class="hs-text">
							<p style="color:black;font-size:100px;font-weight:bold;">Rock<br>Garden</p>
						<p>Sector 1,Uttar Marg<br>Timings:<br>9:00AM-7:00PM Apr-Sept<br>9:00AM-6:00PM Oct-Mar</p>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="hs-bg set-bg sm-overlay" data-setbg="../static/images/rock-garden-2.jpg"></div>
				<div class="sp-container">
					<div class="hs-text">
						<p style="color:black;font-size:100px;font-weight:bold;">Rock<br>Garden</p>
						<p>Sector 1,Uttar Marg<br>Timings:<br>9:00AM-7:00PM Apr-Sept<br>9:00AM-6:00PM Oct-Mar</p>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="hs-bg set-bg sm-overlay" data-setbg="../static/images/rock-garden-3.jpg"></div>
				<div class="sp-container">
					<div class="hs-text">
						<p style="color:black;font-size:100px;font-weight:bold;">Rock<br>Garden</p>
						<p>Sector 1,Uttar Marg<br>Timings:<br>9:00AM-7:00PM Apr-Sept<br>9:00AM-6:00PM Oct-Mar</p>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="hs-bg set-bg sm-overlay" data-setbg="../static/images/rock-garden-4.jpg"></div>
				<div class="sp-container">
					<div class="hs-text">
						<h2>The Rock<br>Garden</h2>
						<p>Sector 1,Uttar Marg<br>Timings:<br>9:00AM-7:00PM Apr-Sept<br>9:00AM-6:00PM Oct-Mar</p>
					</div>
				</div>
			</div>

	</section>
	<!-- Hero section end -->

	<!-- Gallery section -->
	<section class="gallery-section">
		<div class="sp-container">
			<div class="row m-0">
				<div class="col-md-6 p-0">
					<div class="gallery-left-col">
						<div class="gallery-text">
							<h2>“Certain plants, like certain friends, you enjoy having for a visit but do not care to see remain forever and a day.”</h2>
							<br>
							<h4>― Henry Sherman Adams, Making A Rock Garden</h4>
						</div>
						<div class="gallery-item">
							<img src="../static/images/rg_1.jpg" alt="#">
							<p>The Rock Garden sits near Sukhna Lake. It consists of man-made interlinked waterfalls and many other sculptures that have been made of scrap and other kinds of waste (bottles, glasses, bangles, tiles, ceramic pots, sinks, electrical waste, broken pipes, etc.) which are placed in walled paths.</p>
						</div>
						<div class="gallery-item">
							<img src="../static/images/rg_2.jpg" alt="#">
							<p>Chand's work was illegal, but he was able to hide it for 18 years before it was discovered by the authorities in 1975. By this time, it had grown into a 12-acre (4.9 ha) complex of interlinked courtyards, each filled with hundreds of pottery-covered concrete sculptures of dancers, musicians, and animals.</p>
						</div>
						<div class="gallery-item">
							<img src="../static/images/rg_3.jpg" alt="#">
							<p>When Chand left the country on a lecture tour in 1996, the city withdrew its funding, and vandals attacked the park. The Rock Garden Society took over the administration and upkeep of this unique visionary environment.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 p-0">
					<div class="gallery-right-col">
						<div class="gallery-item">
							<img src="../static/images/rg_4.jpg" alt="#">
							<p>The Rock Garden of Chandigarh is a sculpture garden in Chandigarh, India. It is also known as Nek Chand's Rock Garden after its founder Nek Chand Saini, a government official who started the garden secretly in his spare time in 1957</p>

						</div>
						<div class="gallery-item">
							<img src="../static/images/rg_5.jpg" alt="#">
							<p>In his spare time, Nek Chand started collecting materials from demolition sites around the city. He recycled these materials into his own vision of the divine kingdom of Sukrani, choosing a gorge in a forest near Sukhna Lake for his work. The gorge had been designated as a land conservancy, a forest buffer established in 1902 that nothing could be built on. </p>
						</div>
						<div class="gallery-item">
							<img src="../static/images/rg_6.jpg" alt="#">
							<p>His work was in danger of being demolished, but he was able to get public opinion on his side. In 1976 the park was inaugurated as a public space. Nek Chand was given a salary, a title ("Sub-Divisional Engineer, Rock Garden") and 50 laborers so that he could work full-time.</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Gallery section end -->

	<!-- Blog section -->

	<!-- Blog section end -->

	<!-- Footer section  -->


	<footer class="site-footer">
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-4">
	            <div class="mb-5">
	              <h3 class="footer-heading mb-4">About Chandigarh</h3>
	              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe pariatur reprehenderit vero atque, consequatur id ratione, et non dignissimos culpa? Ut veritatis, quos illum totam quis blanditiis, minima minus odio!</p>
	            </div>



	          </div>
	          <div class="col-lg-4 mb-5 mb-lg-0">
	            <div class="row mb-5">
	              <div class="col-md-12">
	                <h3 class="footer-heading mb-4">Navigations</h3>
	              </div>
	              <div class="col-md-6 col-lg-6">
	                <ul class="list-unstyled">
										<li><a href="index.html">Home</a></li>
	                  <li><a href="destination.html">Destination</a></li>
	                  <li><a href="about.html">About</a></li>
	                </ul>
	              </div>
	              <div class="col-md-6 col-lg-6">
	                <ul class="list-unstyled">
	                  <li><a href="about.html">About Us</a></li>
	                  <li><a href="#">Privacy Policy</a></li>
	                  <li><a href="contact.html">Contact Us</a></li>
	                </ul>
	              </div>
	            </div>



	          </div>

	          <div class="col-lg-4 mb-5 mb-lg-0">


	            <div class="mb-5">
	              <h3 class="footer-heading mb-2">Subscribe Newsletter</h3>
	              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit minima minus odio.</p>

	              <form action="#" method="post">
	                <div class="input-group mb-3">
	                  <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
	                  <div class="input-group-append">
	                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
	                  </div>
	                </div>
	              </form>

	            </div>

	          </div>

	        </div>
	        <div class="row pt-5 mt-5 text-center">
	          <div class="col-md-12">
	            <div class="mb-5">
	              <a href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwiCu7ylgcvlAhWFe30KHQrDAvMQFjAAegQIAhAB&url=https%3A%2F%2Fwww.facebook.com%2Ftourismchandigarh%2F&usg=AOvVaw0OcooZBqNq0ZcUFRPnO_Ls" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
	              <a href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjagp2TgMvlAhVEfH0KHa8YAUYQFjAAegQIBRAB&url=https%3A%2F%2Ftwitter.com%2Fchdtourism%3Flang%3Den&usg=AOvVaw2NEcDvOjtfUZH-IBukouTK" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
	              <a href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjI0qm2gcvlAhWUT30KHS75BY0QFjAAegQIAxAB&url=https%3A%2F%2Fwww.instagram.com%2Fchandigarhtourism%2F&usg=AOvVaw0Zn2Umh9rZTHhWtCplZGx" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
	              <a href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwj6xIKMn8vlAhUBuo8KHWBDB9IQFjAAegQIBRAB&url=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fchandigarh-tourism&usg=AOvVaw1WRm9zsrME8Bae5nK1HDxv" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
	            </div>

	            <p>
	            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="http://www.pec.ac.in" target="_blank" >PEC</a>
	            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	            </p>
	          </div>

	        </div>
	      </div>
	    </footer>







	<!-- <footer class="footer-section spad">
		<div class="sp-container">
			<div class="row m-0">
				<div class="col-lg-4 footer-text">
					<h2>Get in touch</h2>
					<p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla pretium, vitae ornare leo sollic itudin. Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti. </p>
				</div>
				<div class="col-lg-8">
					<form class="contact-form">
						<div class="row">
							<div class="col-lg-4">
								<input type="text" placeholder="Your Name">
							</div>
							<div class="col-lg-4">
								<input type="text" placeholder="Your Email">
							</div>
							<div class="col-lg-4">
								<input type="text" placeholder="Subject">
							</div>
							<div class="col-lg-12">
								<textarea placeholder="Message"></textarea>
								<button class="site-btn sb-light" type="submit">send message <img src="img/icons/arrow-right-white.png" alt=""></button>
							</div>
						</div>
					</form>
				</div>
			</div>

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
		</div>
	</footer> -->
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="../static/js_1/jquery-3.2.1.min.js"></script>
	<script src="../static/js_1/bootstrap.min.js"></script>
	<script src="../static/js_1/jquery.slicknav.min.js"></script>
	<script src="../static/js_1/owl.carousel.min.js"></script>
	<script src="../static/js_1/circle-progress.min.js"></script>
	<script src="../static/js_1/main.js"></script>


	</body>
</html>
